#game_bigger{
    margin:20px;
    background-color: orange;
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
#game_bigger:active{
    box-shadow: 0 0 rgba(0, 0, 0, 0.5);
}

.span1{
    width: 20px;
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game_holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image{
    width: 100px;
    height: 150px;
}
.images{
    border: 2px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}