#res_bigger{
    margin-top:20px;
    background-color: orange;
    height: 200px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    
}
#uhm{
    max-width: 500px;
    width:70%;
    display: flex;
    flex-direction: column;
}

.span1{
    width: 20px;
}
#span10{
    height:2px;
}

#result_span2{
    height: 5px;
}
#result_span3{
    height: 15px;
}
#announce{
    text-align: center;
    font-size: medium;
    font-weight: 500;
}
#centra{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#res_holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image{
    width: 100px;
    height: 150px;
}

.hols{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.agains{
    width: 100px;
    font-weight: 700;
    border-radius: 15px;
    background-color: black;
    color: orange;
}
.agains:active{
    background-color: orange;
    color: black;
}